<nav id="topNav">
    <ul>
        <li class="let"><a href="#" routerLink="/instalation">Instalacion</a></li>
        <li class="let"><a href="#" routerLink="/structure">Estructura de Carpetas</a></li>
        <li class="let"><a href="#" routerLink="/artisan">Manejo de Artisan</a></li>
        <li class="let"><a href="#" routerLink="/mvc">Funcionamiento de MVC</a></li>
        <!-- <li class="let"><a href="#" routerLink="/api">Api Rest Laravel</a></li> -->
    </ul>
</nav>
