<div class="container" style="margin-top:60px;">

  <div class="row">
    <div class="col-md-6" style="margin-top:50px;">
      <h2>Manejo de Artisian en un proyecto en Laravel</h2>
      <p style="text-align:justify">Artisan provee una serie de comandos muy útiles al momento de desarrollar
        aplicaciones con Laravel, puedes
        crear elementos como controladores, middelwares, seeders, modelos, etc. y puedes interactuar con ellos al
        ejecutar una migración, solicitar información de las rutas del sistema etc.

        Hoy vamos a ver un poco mas allá de estas funcionalidades y trataremos de construir nuestro propio comando
        accesible desde la consola. Tranquilos! es mucho mas fácil de lo que parece.


        Tal vez les haya ocurrido que en algún proyecto multilenguaje durante la etapa de desarrollo exista la
        necesidad de cambiar constantemente la configuración manualmente para comprobar que todo vaya bien, y no sé
        ustedes, pero me parece muy tedioso editar el archivo de configuración a cada momento. Vamos a darle una
        solución más práctica.</p><br><br>
      <h2>Creando un nuevo comando de artisan</h2>
      <p>Para ello usamos Artisan <strong>$ php artisan make:console SetlocaLe</strong> Con esto habrás creado tu
        nuevo comando y puedes verlos en: <strong>app\Console\Commands\SetLocale.php</strong>
      </p><br>
      <p>Para verificar que todo funcione correctamente solo debes abrir el archivo config\app.php y podrás ver que ha cambiado el valor de la llave “locale”</p>
      <img style="    margin-left: -120px;" src="../../assets/handre2.png" alt="">
    </div>
    <div class="col-md-6" style="margin-top:50px;">
      <h2>Signature</h2>
      <p style="text-align:justify"> Para cambiar el nombre con el cual vamos a ejecutar este comando en la consola
        editamos lo siguiente dentro del archivo SetLocale.php usando el atributo “signature”, es en este lugar donde
        vamos a definir la forma en como el usuario podrá ejecutar el comando enviando los parámetros requeridos para
        cada tarea. </p>
      <strong>protected $signature = 'setlocale:lang';</strong><br>
      <p>Para ver el comando disponible en la consola debemos registrarlo en app\Console\kernel.php. Ahora si desde la
        consola ejecutamos</p>
      <strong>$ php artisan</strong><br>
      <p>Perfecto, vamos a editar un par de cosas, primero necesitamos darle una descripción un poco mas completa. Dentro de SetLocale.php editamos el atributo “description”</p>
      <img src="../../assets/handle.png" alt="">
    </div>
  </div>
</div>