<div class="container" style="margin-top:60px;">
  <h2>Instalando PHP</h2>
  <div class="row">
    <div class="col-md-6" style="margin-top:50px;">
      <p style="text-align:justify">Para instalar PHP en Windows tenemos varias herramientas, cada una con distintos
        beneficios.
        En una oportunidad anterior, les explicamos como instalar una de ellos: Laragon.
        Es tan simple como entrar a su página, descargar el paquete WAMP (Windows, Apache, MySQL, PHP) y ejecutar el
        instalador.

        Elegimos la ruta donde se instalará Laragon, y luego el instalador asociará PHP a nuestras variables de entorno
        (PATH) para que podamos usarlo desde consola.
        Una de las ventajas de Laragon vs Xampp o Wamp es que instalar proyectos Laravel es muy sencillo, ya que tiene
        una opción específica para eso, que genera un nuevo proyecto Laravel con todos los paquetes instalados, el
        archivo .env creado, un Virtual Host para Apache o nginx configurado con el nombre del proyecto para que
        podamos acceder rápidamente en nuestro navegador (http://ejemplo.dev) y hasta puede generar una base de datos
        para el proyecto, todo desde un fácil acceso rápido en la barra de tareas.</p>
    </div>
    <div class="col-md-6" style="margin-top:50px;" align="center">
      <img src="../../assets/laravel.png" width="400px" alt="">
    </div>
    <br><br>
    <div class="col-md-12" align="center">
      <p style="text-align:justify">Una vez instalado alguno de estos entornos, ya sea Laragon, Xampp, Wamp o cualquier otro, podremos comprobar
        que PHP se instaló correctamente comprobando por consola su versión:</p><br>
      <h3>Si PHP se instaló con éxito, debería mostrarnos algo similar a esto:</h3>
      <img src="../../assets/Existoso.png" alt="">
    </div>
    <div class="col-md-12" align="center">
      <h2>Instalando Composer</h2>
      <p style="text-align:justify">Composer es el manejador de dependencias de PHP, es decir, se encarga de instalar las librerias que nuestros
        proyectos necesitan y de mantenerlas actualizadas, por lo que podemos reutilizar código de otros programadores
        en nuestras aplicaciones y ahorrarnos reescribir siempre las mismas funcionalidades.

        PHP tuvo un antes y un después de la aparición de Composer, ya que permitió que la comunidad desarrollara
        paquetes especializados y que estos fueran probados por miles de aplicaciones, ahorrando tiempo a futuros
        programadores y mejorando la estabilidad de nuestros sistemas.</p>
        <p style="text-align:justify">Para instalar Composer en Windows, debemos descargarlo desde su página:
          https://getcomposer.org/Composer-Setup.exe
          Luego, ejecutamos el instalador y seguimos sus pasos:</p><br>
          <img src="../../assets/composser.png" alt="">
          <p style="text-align:justify">Más adelante veremos cómo utilizar Composer para manejar las dependencias de nuestras aplicaciones.

            Ahora ya podemos pasar a crear nuestro primer proyecto!</p>
    </div>
    <div class="col-md-12" align="center">
      <p style="text-align:justify">Para crear un nuevo proyecto en Laravel, tenemos dos formas (tres con Laragon):</p><br>
      <h2>Utilizando composer</h2>
      <img src="../../assets/1erproyecto.png" alt="">
      <h2>Utilizando el instalador de Laravel (más rápido)</h2>
      <img src="../../assets/composerlaravel.png" alt="">
      
    </div>
  </div>
</div>