<div class="container" style="margin-top: 60px;">
    <h2>Funcionamiento MVC</h2>

    <p>El MVC o Modelo-Vista-Controlador es un patrón de arquitectura de software que, utilizando 3 componentes
        (Vistas, Models y Controladores) separa la lógica de la aplicación de la lógica de la vista en una aplicación.
        Es una arquitectura importante puesto que se utiliza tanto en componentes gráficos básicos hasta sistemas
        empresariales; la mayoría de los frameworks modernos utilizan MVC (o alguna adaptación del MVC) para la
        arquitectura, entre ellos podemos mencionar a <a href="https://codigofacilito.com/cursos/rails">Ruby on Rails</a>,
        <a href="https://codigofacilito.com/cursos/django">Django</a>, <a href="https://codigofacilito.com/cursos/angularjs">AngularJS</a>
        y muchos otros más. En este pequeño artículo intentamos introducirte a los conceptos del MVC.
    </p>
    <h2>Una imagen</h2>
    <p><img src="../../assets/29.jpg" alt="">
    </p>
    <h2>Una analogía</h2>
    <p>Una que me gusta mucho es la de la televisión. En tu televisión puedes ver distintos canales distribuidos por tu
        tu proveedor de cable o televisión (que representa al modelo), todos los canales que puedes <strong>ver</strong>
        son la vista, y tú cambiando de canal, <strong>controlando qué ves</strong> representas al controlador.
    </p>
    <h2>La explicación</h2>
    <p>Los puntos anteriores so sólo para proveer background, y que ojalá puedas utilizar las referencias ahora que
        vamos a explicar qué es.
    </p>
    <p>Antes que nada, me gustaría mencionar por qué se utiliza el <strong>MVC</strong>, la razón es que nos permite
        separar los componentes de nuestra aplicación dependiendo de la responsabilidad que tienen, esto significa que
        cuando hacemos un cambio en alguna parte de nuestro código, esto no afecte otra parte del mismo. Por ejemplo,
        si modificamos nuestra Base de Datos, sólo deberíamos modificar el modelo que es <strong>quién se encarga de
            los datos</strong> y el resto de la aplicación debería permanecer intacta. Esto respeta el principio de la
        responsabilidad única. Es decir, una parte de tu código no debe de saber qué es lo que hace toda la aplicación,
        sólo debe de tener una responsabilidad.
    </p>
    <p>En web, el MVC funcionaría así. Cuando el usuario manda una petición al navegador, digamos quiere ver el <a href="https://codigofacilito.com/cursos/angularjs">curso
            de AngularJS</a>, el controlador responde a la solicitud, porque él es el que controla la lógica de la app,
        una vez que el controlador nota que el usuario solicitó el curso de Angular, le pide al modelo la información
        del curso.
    </p>
    <p> El modelo, que se encarga de los datos de la app, consulta la base de datos y digamos, obtiene todos los vídeos
        del curso de AngularJS, la información del curso y el título, el modelo responde al controlador con los datos
        que pidió (nota como en la imagen las flechas van en ambos sentidos, porque el controlador pide datos, y el
        modelo responde con los datos solicitados).
    </p>
    <p>Una vez el controlador tiene los datos del curso de AngularJS, se los manda a la vista, la vista aplica los
        estilos, organiza la información y construye la página que vez en el navegador.
    </p>
    <p>Resumamos entonces los conceptos.
    </p>
    <h3>Modelo</h3>
    <p>Se encarga de los datos, generalmente (pero no obligatoriamente) consultando la base de datos. Actualizaciones,
        consultas, búsquedas, etc. todo eso va aquí, en el modelo.
    </p>
    <h3>Controlador</h3>
    <p>Se encarga de... controlar, recibe las órdenes del usuario y se encarga de solicitar los datos al modelo y de
        comunicárselos a la vista.
    </p>
    <h3>Vistas</h3>
    <p>Son la representación visual de los datos, todo lo que tenga que ver con la interfaz gráfica va aquí. Ni el
        modelo ni el controlador se preocupan de cómo se verán los datos, esa responsabilidad es únicamente de la
        vista.
    </p>
    

</div>